* text=auto

*.go text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.woff2 binary